//盒子抖动动画 抖动动画
@keyframes shake {
    10%,
    90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%,
    80% {
        transform: translate3d(2px, 0, 0);
    }
    30%,
    50%,
    70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%,
    60% {
        transform: translate3d(4px, 0, 0);
    }
}
//文字滚动
@keyframes rowup {
    0% {
        transform:translateZ(0)
    }
    14.2% {
        transform:translate3d(0,-40px,0)
    }
    24.8% {
        transform:translate3d(0,-80px,0)
    }
    42.6% {
        transform:translate3d(0,-120px,0)
    }
    56.8% {
        transform:translate3d(0,-160px,0)
    }
    69% {
        transform:translate3d(0,-200px,0)
    }
    83.2% {
        transform:translate3d(0,-240px,0)
    }
    to {
        transform:translate3d(0,-240px,0)
    }
}
